<%= form_for(@open_house) do |f| %>
  <% if @open_house.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@open_house.errors.count, "error") %> prohibited this open_house from being saved:</h2>

      <ul>
      <% @open_house.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :Name %>
  </div>
  <div class="field">
    <%= f.label :Phone_number %><br>
    <%= f.text_field :Phone_number %>
  </div>
  <div class="field">
    <%= f.label :Email_address %><br>
    <%= f.text_field :Email_address %>
  </div>
  <div class="field">
    <%= f.label :How_did_you_here_about_our_open_house %><br>
    <%= f.text_field :How_did_you_here_about_our_open_house %>
  </div>
  <div class="field">
    <%= f.label :Are_you_working_with_a_Realtor %><br>
    <%= f.check_box :Are_you_working_with_a_Realtor %>
  </div>
  <div class="field">
    <%= f.label :Realtors_name_and_contact_information %><br>
    <%= f.text_field :Realtors_name_and_contact_information %>
  </div>
  <div class="field">
    <%= f.label :Would_you_like_to_be_emailed_new_properties %><br>
    <%= f.text_field :Would_you_like_to_be_emailed_new_properties %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
